<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div layout:fragment="sidebar">
    <ul>
      <li><a th:href="@{/emp}">사원 목록</a></li>
      <li><a th:href="@{/dept}">부서</a></li>
    </ul>
  </div>

  <div layout:fragment="content">
    <h4>사원의 이름으로 검색합니다.</h4>
    <form action="/name/result1">
      <input type="search" name="name">
      <input type="submit" value="검색">
    </form>
  </div>
</body>

</html>