<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <style>
    * {
      margin: 0px auto;
      padding: 0px;
      text-align: center;
    }
    a {
      color: gray;
      text-decoration-line: none;
      border: 1px solid;
    }
    fieldset {
      width: 300px;
      padding: 10px;
    }
  </style>
</head>

<body>
  <fieldset>
    <legend>
      <h3>INDEX</h3>
    </legend>
    
    <a href="/dept">모든 부서정보 확인</a>
    <a href="/insert">부서 추가</a>
    <a href="/update">근무지 수정</a>
  </fieldset>
</body>

</html>